:root {
  --primary: #121212;
  --secondary: #666af6;
  --third: #828282;
  --text: #e0e0e0;

  --shadow-1: #0b0b0b;
  --shadow-2: #0f0f0f;
}

html.light {
  --primary: #e0e0e0;
  --shadow-1: #bebebe;
  --shadow-2: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  color: var(--text);
  transition: all 250ms ease-out;
}

body {
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: clamp(15rem, 35rem, 100%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  box-shadow: 1.3rem 1.3rem 3rem var(--shadow-1),
    -1.3rem -1.3rem 3rem var(--shadow-2);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
}

h1 {
  text-transform: uppercase;
  color: var(--secondary);
}

#darkmode {
  color: #ffe569;
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.3rem;
}

html.light #darkmode {
  color: rgba(0, 0, 0, 0.4);
}

.todo-list {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}

.todo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 1rem;
  border-radius: 0.4rem;
  background-color: var(--secondary);
  opacity: 0;
  transform: scale(0);
}

.todo.show {
  opacity: 1;
  transform: scale(1);
}

.todo input {
  flex-grow: 1;
  cursor: default;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.4rem;
  height: 100%;
}

.todo.checked {
  opacity: 0.6;
}

.todo.checked input {
  text-decoration: line-through;
}

i {
  cursor: pointer;
  font-style: normal;
}

.add-todo {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 0.4rem;
  padding: 0.4rem 0.75rem;
  gap: 0.5rem;
}

.add-todo input[type="text"] {
  border: none;
  border-radius: 0.3rem;
  flex-grow: 1;
  background-color: transparent;
  outline: none;
  font-size: 1.3rem;
  color: var(--third);
}

.add-todo i {
  color: var(--secondary);
  font-size: 1.7rem;
}

.shake {
  animation: shake 250ms ease;
}

@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
}
